---

  - name: Setup filebeat container
    docker:
      name: "filebeat-{{ hostvars[inventory_hostname]['inventory_hostname'] }}"
      image: "zakupka/filebeat:{{ filebeat_version }}"
      hostname: "{{ hostvars[inventory_hostname]['inventory_hostname'] }}"
      state: "{{ filebeat_state }}"
      pull: always
      volumes:
        - /etc/hosts:/etc/hosts
        - /var/log:/var/log
        - "{{ filebeat_config_dir }}/filebeat.yml:/filebeat.yml"
