#{{ ansible_managed }}
filebeat:

  prospectors:
{% for item in filebeat_prospectors %}
    -
     paths:
{% for path in item.paths %}
       - {{ path }}
{% endfor %}
     encoding: {{ item.encoding|default ('plain') }}
     input_type: {{ item.input_type|default ('log') }}
     document_type: {{ item.document_type|default ('log') }}
     fields:
     {% for key, item in item.prospector_fields.iteritems() %}
    {{ key }}: {{ item }}
     {% endfor %}

{% endfor %}

output:

  {% for item in filebeat_outputs %}

  {% if item.name == "logstash" %}

  {{ item.name }}:
    hosts: [ {% for item in filebeat_destinations %}'{{ item }}:{{ logstash_port | default(5044) }}'{% if not loop.last %}, {% endif %}{% endfor %} ]
    bulk_max_size: {{ filebeat_bulk_max_size }}
    worker: {{ item.workers }}
    compression_level: {{ item.compression_level }}
    loadbalance: {{ item.loadbalance }}
  {% endif %}

  {% if item.name == "file" %}

  {{ item.name }}:
    path: {{ item.path }}
    filename: {{ item.filename }}
    rotate_every_kb: {{ item.rotate_every_kb }}
    number_of_files: {{ item.number_of_files }}
  {% endif %}
  {% endfor %}

{% if filebeat_enable_tls %}
    tls:
      certificate_authorities: [ '{{ logstash_certificate_chain | default('/etc/pki/tls/certs/logstash/chain.pem') }}' ]
{% endif %}

shipper:
  # The name of the shipper that publishes the network data. It can be used to group
  # all the transactions sent by a single shipper in the web interface.
  # If this options is not defined, the hostname is used.
  #name: fb_shipper

  # The tags of the shipper are included in their own field with each
  # transaction published. Tags make it easy to group servers by different
  # logical properties.
  #tags: ["service-X", "web-tier"]

  # Uncomment the following if you want to ignore transactions created
  # by the server on which the shipper is installed. This option is useful
  # to remove duplicates if shippers are installed on multiple servers.
  #ignore_outgoing: true

  # How often (in seconds) shippers are publishing their IPs to the topology map.
  # The default is 10 seconds.
  #refresh_topology_freq: 10

  # Expiration time (in seconds) of the IPs published by a shipper to the topology map.
  # All the IPs will be deleted afterwards. Note, that the value must be higher than
  # refresh_topology_freq. The default is 15 seconds.
  #topology_expire: 15

  # Internal queue size for single events in processing pipeline
  #queue_size: 1000

  # Configure local GeoIP database support.
  # If no paths are not configured geoip is disabled.
  geoip:
    paths:
     - "/usr/share/GeoIP/GeoIP.dat"
    #  - "/usr/local/var/GeoIP/GeoLiteCity.dat"

logging:
  to_syslog: false
  to_files: true
  files:
    path: /var/log/filebeat
    name: mybeat.log
    keepfiles: 5
    rotateeverybytes: 10485760 # = 10MB
  level: error

# General filebeat configuration options
#
# Event count spool threshold - forces network flush if exceeded
spool_size: {{ filebeat_spool_size }}

# Defines how often the spooler is flushed. After idle_timeout the spooler is
# Flush even though spool_size is not reached.
idle_timeout: {{ filebeat_idle_timeout }}

# Name of the registry file. Per default it is put in the current working
# directory. In case the working directory is changed after when running
# filebeat again, indexing starts from the beginning again.
registry_file: {{ filebeat_config_registry_file }}
