---

  - name: Check if rabbitmqadmin already installed
    stat:
      path: /usr/bin/rabbitmqadmin
    register: rmqadmin_exists

  - name: Add rabbitmqadmin to node
    get_url:
      url: https://raw.githubusercontent.com/rabbitmq/rabbitmq-management/rabbitmq_v3_6_4/bin/rabbitmqadmin
      dest: /usr/bin/rabbitmqadmin
      mode: 0777
    when: not rmqadmin_exists.stat.exists
