input {
    rabbitmq {
      host => "{{ rabbitmq_endpoint }}"
      subscription_retry_interval_seconds => 5
      ack => true
      arguments => { "x-ha-policy" => "all" }
      auto_delete => false
      automatic_recovery => true
      codec => "json"
      connect_retry_interval => 1
      connection_timeout => {{ logstash_rabbitmq_connection_timeout }}
      durable => {{ logstash_exchange_durable | lower() }}
      exchange => "{{ logstash_exchange_name }}"
      heartbeat => {{ logstash_rabbitmq_heartbeat }}
      key => "logstash-authlog"
      metadata_enabled => "{{ logstash_rabbitmq_send_metadata | lower() }}"
      user => "{{ logstash_rabbitmq_output_user }}"
      password => "{{ logstash_rabbitmq_output_password }}"
      queue => "logstash-authlog"
      threads => {{ logstash_rabbitmq_threads }}
      prefetch_count => {{ logstash_prefetch_count }}
      vhost => "{{ logstash_rabbitmq_vhost }}"
    }
}

filter {
    if [message] =~ /.*sshd.*\s*/ and [type] == "linux-authlog" {
        grok {
            match => {"message" => "%{SYSLOGTIMESTAMP:timestamp} %{HOSTNAME:host_target} sshd\[%{BASE10NUM}\]:? %{WORD:shh_result}*\s%{WORD:ssh_auth_method}\s*for\s*%{WORD:ssh_for_username}\s*from\s*%{IP:src_ip}\s*port\s*%{INT:ssh_src_port}\s*%{WORD:ssh_conn_protocol}:?\s*%{GREEDYDATA:ssh_key}?" }
            match => {"message" => "%{SYSLOGTIMESTAMP:timestamp} %{HOSTNAME:host_target} sshd\[%{BASE10NUM}\]:? Invalid user %{WORD:ssh_invalid_username} from %{IP:src_ip}\s*" }
            match => {"message" => "%{SYSLOGTIMESTAMP:timestamp} %{HOSTNAME:host_target} sshd\[%{BASE10NUM}\]:? %{WORD:ssh_request}:? invalid user %{WORD:ssh_invalid_user} %{GREEDYDATA:ssh_invalid_user_message}"}
            match => {"message" => "%{SYSLOGTIMESTAMP:timestamp} %{HOSTNAME:host_target} sshd\[%{BASE10NUM}\]:? Failed password for (invalid user |)%{USERNAME:ssh_failedpass_username} from %{IP:src_ip} port %{BASE10NUM:ssh_port_failedpass} %{WORD:ssh_protocol}\s*"}
            match => {"message" => "%{SYSLOGTIMESTAMP:timestamp} %{HOSTNAME:host_target} sshd\[%{BASE10NUM}\]:? Received %{WORD:ssh_event} from %{IP:src_ip}: %{BASE10NUM:ssh_port}: %{GREEDYDATA:ssh_rec_event}"}
            match => {"message" => "%{SYSLOGTIMESTAMP:timestamp} %{HOSTNAME:host_target} sshd\[%{BASE10NUM}\]:? %{WORD:ssh_method}:?\(%{DATA:ssh_pam_method}\):?%{GREEDYDATA:ssh_pam_message}"}
            match => {"message" => "%{SYSLOGTIMESTAMP:timestamp} %{HOSTNAME:host_target} sshd\[%{BASE10NUM}\]:? Connection %{WORD:ssh_connection_state} by %{IP:src_ip} %{GREEDYDATA:ssh_conn_message}"}
            match => {"message" => "%{SYSLOGTIMESTAMP:timestamp} %{HOSTNAME:host_target} sshd\[%{BASE10NUM}\]:? PAM %{BASE10NUM:ssh_failure_count} more authentication (failure|failures);? %{GREEDYDATA:ssh_authfail_message}"}
            match => {"message" => "%{SYSLOGTIMESTAMP:timestamp} %{HOSTNAME:host_target} sshd\[%{BASE10NUM}\]:? error: %{GREEDYDATA:ssh_error}"}
            match => {"message" => "%{SYSLOGTIMESTAMP:timestamp} %{HOSTNAME:host_target} sshd\[%{BASE10NUM}\]:? Server listening on %{IP:ssh_listen_ip} port %{BASE10NUM:ssh_listen_port}"}
            match => {"message" => "%{SYSLOGTIMESTAMP:timestamp} %{HOSTNAME:host_target} sshd\[%{BASE10NUM}\]:? Received signal %{BASE10NUM:ssh_recieved_interrupt_signal};?"}
            match => {"message" => "%{SYSLOGTIMESTAMP:timestamp} %{HOSTNAME:host_target} sshd\[%{BASE10NUM}\]:? Did not receive identification string from %{IP:ssh_no_idstring_from_ip}"}
            tag_on_failure => "logstash_ssh_parsefailure"
            add_tag => "logstash_ssh"
            add_field => [ "received_at", "%{@timestamp}" ]
            }
        date {
           match => [ "timestamp" , "MMM dd HH:mm:ss" ]
           remove_field => [ "timestamp" ]
           timezone => "Europe/Simferopol"
          }
         geoip {
          source => "src_ip"
          target => "geoip"
          add_tag => [ "authlog-geoip" ]
          }
    } else if [message] =~ /.*sudo.*\s*/ and [type] == "linux-authlog" {
        grok {
            match => {"message" => "%{SYSLOGTIMESTAMP:timestamp} %{HOSTNAME:host_target} sudo:?\s*%{WORD:sudoer}\s?:?\s?TTY=%{NOTSPACE:sudoer_tty}\s*;?\s*PWD=%{NOTSPACE:pwd}\s*;?\s*USER=%{NOTSPACE:sudo_to_user}\s*;?\s*COMMAND=%{GREEDYDATA:command}"}
            match => {"message" => "%{SYSLOGTIMESTAMP:timestamp} %{HOSTNAME:host_target} sudo:?\s*%{GREEDYDATA:pam_message}"}
            tag_on_failure => "logstash_pam_parsefailure"
            add_tag => "logstash_pam"
            add_field => [ "received_at", "%{@timestamp}" ]
        }
        date {
           match => [ "timestamp" , "MMM dd HH:mm:ss" ]
           remove_field => [ "timestamp" ]
           timezone => "Europe/Simferopol"
          }
    } else if [type] == "linux-authlog" {
        grok {
            match => {"message" => "%{SYSLOGTIMESTAMP:timestamp} %{HOSTNAME:host_target} %{SYSLOGPROG}:?\s*%{GREEDYDATA:authlog_message}"}
            add_tag => "logstash_auth_log"
            tag_on_failure => "logstash_authlog_parsefailure"
            add_field => [ "received_at", "%{@timestamp}" ]
        }
        date {
           match => [ "timestamp" , "MMM dd HH:mm:ss" ]
           remove_field => [ "timestamp" ]
           timezone => "Europe/Simferopol"
          }
      }
}
