input {
    file {
        type => "nginx-access"
        path => "/home/vagrant/nginx_http.access.log"
        start_position => "beginning"
        sincedb_path => "NUL"
        ignore_older => 0
    }
    file {
        type => "nginx-error"
        path => "/home/vagrant/nginx_http.error.log"
        start_position => "beginning"
        sincedb_path => "NUL"
        ignore_older => 0
    }
}

filter {
  if [type] == "nginx-access" {
    grok {
         match => { "message" => "%{NGINXACCESS}" }
         tag_on_failure => "logstash_nginx_access_parsefailure"
         add_tag => "logstash_nginx_access"
         overwrite => [ "message" ]
         patterns_dir => "/opt/logstash/patterns"
    }
    mutate {
        convert => ["response", "integer"]
        convert => ["bytes", "integer"]
    }
   geoip {
        source => "clientip"
        target => "geoip"
        add_tag => [ "nginx-geoip" ]
    }
    date {
       match => [ "timestamp" , "dd/MMM/YYYY:HH:mm:ss Z" ]
       remove_field => [ "timestamp" ]
      }
    useragent {
       source => "agent"
      }
  } else if [type] == "nginx-error" {
      grok {
          match => {"message" => "%{NGINXERROR}"}
          tag_on_failure => "logstash_nginx_error_parsefailure"
          add_tag => "logstash_nginx_error"
          overwrite => [ "message" ]
          patterns_dir => "/opt/logstash/patterns"
      }
      geoip {
         source => "client"
         target => "geoip"
         add_tag => [ "nginx-geoip" ]
        }

      date {
          match => [ "timestamp" , "YYYY/MM/dd HH:mm:ss" ]
          remove_field => [ "timestamp" ]
        }
   }
}
