output {
  rabbitmq {
    exchange => "logstash_reciever"
    exchange_type => "{{ logstash_rabbitmq_exchange_type }}"
    host => "{{ rabbitmq_endpoint }}"
    port => 5672
    automatic_recovery => true
    codec => "json"
    durable => true
    key => "logstash"
    user => "{{ logstash_rabbitmq_output_user }}"
    password => "{{ logstash_rabbitmq_output_password }}"
    persistent => "{{ logstash_rabbitmq_output_persistent | lower() }}"
    workers => {{ logstash_rabbitmq_output_workers }}
    heartbeat => 1
    vhost => "logstash"
  }
}
