# {{ ansible_managed }}

output {
    if [type] == "linux-syslog" {
        elasticsearch {
             workers => {{ logstash_workers }}
             hosts => ["{{ logstash_endpoint_host_ip }}"]
             index => "{{ logstash_index_name }}"
             document_type => "linux-syslog"
             }
    }  else if [type] == "linux-syslog" and "logstash_syslog_parsefailure" in [tags] {
        file { path => "/var/log/logstash/failed_syslog_events-%{+YYYY-MM-dd}" }
    }
}
