---

filebeat_user:  filebeat
filebeat_group: filebeat

# Create the filebeat user and group
filebeat_create_user: true

filebeat_version: 1.2.2

filebeat_start_at_boot: True

filebeat_upgrade: false

filebeat_config_dir: "/etc/filebeat"

filebeat_config_registry_file: "/var/lib/filebeat/registry"


filebeat_prospectors:
  - paths:
      - '/var/log/syslog'
      - '/var/log/auth.log'
    encoding: 'plain'
    input_type: 'log'
    document_type: 'log'
#  - paths:
#      - '/opt/myapp/var/*.log'
#    document_type: 'my_app_log'

filebeat_outputs:
  - name: logstash
    workers: 5
    compression_level: 3
    loadbalance: true
  - name: file
    path: "/tmp/filebeat"
    filename: filebeat.out
    rotate_every_kb: 10000
    number_of_files: 7

filebeat_destinations:
  - 192.168.0.173
  - 192.168.0.174

logstash_port: 5000

filebeat_bulk_max_size: 1024

filebeat_spool_size: 2048

filebeat_idle_timeout: '5s'

filebeat_enable_tls: no

filebeat_certificates_dir: /etc/ssl/certs/tls/filebeat

# vi:ts=2:sw=2:et:ft=yaml
