---

  - name: Ensure rabbitmq host-dirs are created
    file:
      path: "{{ item }}"
      owner: root
      group: root
      mode: 0775
      state: directory
    with_items:
      - "/var/log/machines/rabbitmq-{{ hostvars[inventory_hostname]['inventory_hostname'] }}"
      - "{{ rabbitmq_startup_dir }}"

  - name: Check if clustering script already present
    stat:
      path: "{{ rabbitmq_startup_dir }}/join_cluster.sh"
    register: rmqstartup_script

  - name: Create rabbitmq clustering script
    template:
      src: "{{ rabbitmq_config_templates }}/join_cluster.sh.j2"
      dest: "{{ rabbitmq_startup_dir }}/join_cluster.sh"
      owner: "root"
      group: "root"
      mode: 0775
    when: not rmqstartup_script.stat.exists

  - name: Create rabbitmq docker upstart script
    template:
      src: "{{ rabbitmq_config_templates }}/rmq-upstart.conf.j2"
      dest: /etc/init/rmq-upstart.conf
      owner: "root"
      group: "root"
      mode: 0775

  - name: Enable rmq-docker upstart service
    service:
      name: rmq-upstart
      enabled: yes
      state: started

  - name: Check if clustering script already present
    stat:
      path: "{{ rabbitmq_startup_dir }}/clustered"
    register: clustered
