---

  # ################
  # Playbook control
  # ################

  rmq_version: 3.6.4
  form_cluster: false
  rabbitmq_config_templates: "vars/rabbitmq/templates"
  rabbitmq_startup_dir: "/opt/rabbit"
  docker_rmq_state: reloaded
  rmq_hipe_compile: 0

  rabbitmq_talking_port: 8080

  rabbitmq_vhost_definitions:
  - name:    logstash
    node:    rabbit
    user:    logstash
    password: logmqstash

  rabbitmq_users_definitions:
  - vhost:    logstash
    user:     logstash
    password: logmqstash
    node:     rabbit
    tags:   administrator

  rabbitmq_config:
    - queue_name: logstash
      durable: true
      exchange_name: logstash_reciever
      type: direct
      routing_key: logstash
      vhost: logstash
      user: logstash
      password: logmqstash
      node: "rabbit"
      tags:
        ha-mode: all
        ha-sync-mode: automatic
        max-length: 1000000
        expires: 1296000000

  erlang_cookie: 3hmAI0LdywU3YUAI0L

  rabbitmq_master: node1
