---

  - name: Get and start Elasticsearch container
    docker:
      name: "elastic-{{ hostvars[inventory_hostname]['inventory_hostname'] }}"
      hostname: "{{ hostvars[inventory_hostname]['inventory_hostname'] }}"
      image: "elasticsearch:{{ elasticsearch_version }}"
      expose:
        - "9400"
        - '9000'
      ports:
        - "9000:9000"
        - "9200:9200"
        - "9300:9300"
        - "9400:9400"
      volumes:
        - "/var/log/machines/elastic-{{ hostvars[inventory_hostname]['inventory_hostname'] }}:/var/log/elasticsearch"
        - /etc/hosts:/etc/hosts
        - "{{ elastic_default_conf_host }}/elasticsearch:/etc/default/elasticsearch"
        - "{{ elasticsearch_host_path_conf }}/elasticsearch.yml:{{ elasticsearch_path_conf }}/elasticsearch.yml"
        - "{{ elasticsearch_host_path_conf }}/logging.yml:{{ elasticsearch_path_conf }}/logging.yml"
        - "{{ elastic_host_data_dir }}:{{ elasticsearch_path_data }}"
        - "{{ elastic_host_plugins_dir }}:{{ elasticsearch_path_plugins }}"
      state: "{{ docker_elastic_state }}"
      pull: always
      restart_policy: unless-stopped
