---

  logstash_fb_input_port: 5000
  ls_heap: 512M
  logstash_endpoint_host_ip: []
  logstash_user: root
  logstash_group: root

  logstash_host_patterns_dir: /opt/logstash/patterns
  logstash_conf_dir: /opt/logstash/conf.d
  logstash_patterns_dir: /config-dir/patterns
  logstash_container_version: 2.3.4

  ###########
  ##  Configs
  logstash_templates: "vars/logstash/templates"
  logstash_config_templates: "vars/logstash/templates/configs"
  logstash_pattern_templates: "vars/logstash/templates/patterns"
  logstash_output_templates: "vars/logstash/templates/outputs"

  ############
  ## RabbitMQ integration

  logstash_exchange_name: "logstash_reciever"
  logstash_exchange_durable: true
  logstash_routing_key: "logstash"
  logstash_prefetch_count: 20
  logstash_rabbitmq_threads: 3
  logstash_rabbitmq_heartbeat: 1
  logstash_rabbitmq_connection_timeout: 3000
  logstash_rabbitmq_port: 5672
  logstash_rabbitmq_vhost: "logstash"
